{% extends layout_template  %}

{% block title %}Email confirmation sent{% endblock %}

{% block content %}

    <h1>{{ 'user.thankYou' | trans }}</h1>

    {% autoescape false %}
        <p>{{ 'user.emailSentToAddress' | trans({ '%email%': email }) }}</p>
    {% endautoescape %}

    <p>{{ 'user.clickLinkInMessageNote' | trans }}</p>

{% endblock %}
